<section>
<%= link_to 'Back To Home Page', '/documents' %>
<br>
<h2>Documents View Page</h2>

<% @documents.each do |document| %>
  <h3>Document Type: <%= document.contract_type %></h3>
  <h3>Sample Document URL: <img src="<%= document.image %>" alt="document" class="img-responsive"></h3>
<% end %>
<br>
</section>