<section>
<h1>Current Document</h1>

<h2>Document Type: <%= @document.contract_type %></h2>
<h2>Sample Document URL: <img src="<%= @document.image %>" alt="document" class="img-responsive"></h2>
</section>